language: node_js
node_js:
    - 14
cache: yarn
install:
    - yarn
script:
    - yarn build
after_success:
    - npm publish
    - git config --global user.name "${U_NAME}"
    - git config --global user.email "${U_EMAIL}"
    - git add .
    - git commit -m 'deploy'
    - git push --quiet --force "https://${GH_TOKEN}@${GH_REF}" master:${P_BRANCH}
