language: node_js
node_js:
  - 14
cache: npm
install:
  - npm install
os:
  - linux

stages:
  - name: release
  - name: build
  - deploy

jobs:
  include:
    - stage: release
      script:
        - echo '开始生成版本...'
        - npm run release
        - echo '版本生成完成'

    - stage: build
      script:
        - echo '开始打包...'
        - npm run build
        - echo '打包完成'
      deploy: deploy
        - provider: npm
          email: wang11535041@qq.com
          api_key: "$NPM_TOKEN"
          cleanup: false
          on:
            tags: true
            branch: master
          tag: latest


after_deploy:
  - git config --global user.name "$U_NAME"
  - git config --global user.email "$U_EMAIL"
  - git add .
  - git commit -m "deploy"
  - git push --quiet --force "https://$GH_TOKEN@$GH_REF" master:$P_BRANCH
